/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#groupchat {	
	width: 688px;
	height: 466px;
}

.navbarcolor {
	background: #6891F9;
}

#buttoncolor,
#footercolor {
	background: #6891F9;
}

.centercolumn > .col {
	float: none;
	display: inline-block;
	text-align: initial;
}