/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	font-size: 62.5%;
}
.icon-block {
  padding: 0 1.5rem;
}
.icon-block .material-icons {
	font-size: inherit;
}

#groupchat {
	width: 68.8rem;
	height: 46.6rem;

}

.navbarcolor {
	background: #6891F9;
}

#buttoncolor,
#footercolor {
	background: #6891F9;
}

#vectorpng {
	position: absolute;
	width: 80.8rem;
	height: 71.8rem;
	left: 0rem;
	top: -1.6rem;
}

@media only screen and (max-width : 992px) {
  #vectorpng {
  	display: none;
  }
}

@media only screen and (max-width : 600px) {
  #vectorpng {
    display: none;
  }
}

.customtext {

	position: absolute;
	width: 55.5rem;
	height: 4.3rem;
	left: 10.5rem;
	top: 17.1rem;

	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 6.0rem;
	line-height: normal;
	letter-spacing: -0.5px;

	color: #FCFCFE;
}

.customptext {
	position: absolute;
	width: 61.0rem;
	height: 15.1rem;
	left: 10.5rem;
	top: 34.0rem;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 3.4rem;
	line-height: normal;
	letter-spacing: 0.25px;

	color: #FCFCFE;
}

#featurefooter {
	margin-bottom: 2px;
}

.material-icons {
	color: #4C6AB6;
}