/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 body {
 	background: #E3EBFD;
 }
.test1pclass {

		position: absolute;
		width: 530px;
		height: 528px;
		left: 800px;
		top: 280px;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 35px;
}

.test2pclass {

		position: absolute;
		width: 530px;
		height: 528px;
		left: 800px;
		top: 310px;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 35px;
}

.lastpclass {

		position: absolute;
		width: 530px;
		height: 528px;
		left: 800px;
		top: 300px;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 35px;
}

@media only screen and (max-width : 992px) {
	body{
		overflow: hidden;
	}
  .test1pclass,
  .test2pclass,
  .lastpclass{
  	display: none;
  }
  #newhirepng,
  #jobhuntpng,
  #chatpng {
  		display: none;
  }
}

@media only screen and (max-width : 600px) {
	body{
		overflow: hidden;
	}
 .test1pclass,
  .test2pclass,
  .lastpclass{
  	display: none;
  }
  #newhirepng,
  #jobhuntpng,
  #chatpng {
  		display: none;
  }
}

#newhirepng,
#jobhuntpng,
#chatpng {
	position: absolute;
	width: 674px;
	height: 409px;
	left: 68px;
	top: 290px;
}
.icon-block {
  padding: 0 1.5rem;
}
.icon-block .material-icons {
	font-size: inherit;
}

#groupchat {
	width: 688px;
	height: 466px;

}

.navbarcolor {
	background: #6891F9;
}

#buttoncolor,
#footercolor {
	background: #6891F9;
}

#vectorpng {
	position: absolute;
	width: 808px;
	height: 718px;
	left: 0px;
	top: -1.6px;
}

@media only screen and (max-width : 992px) {
  #vectorpng,
  #customtext,
  #groupchat,
  #customptext {
  	display: none;
  }
}

@media only screen and (max-width : 600px) {
  #vectorpng,
  #groupchat,
  #customtext,
  #customptext {
    display: none;
  }
}

.customtext {
	position: absolute;
	width: 555px;
	height: 43px;
	left: 105px;
	top: 171px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	line-height: normal;
	letter-spacing: -0.5px;

	color: #FCFCFE;
}

.customptext {
	position: absolute;
	width: 610px;
	height: 151px;
	left: 105px;
	top: 340px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: normal;
	letter-spacing: 0.25px;

	color: #FCFCFE;
}

#featurefooter {
	margin-bottom: 2px;
}

.material-icons {
	color: #4C6AB6;
}

.tabs .tab a{
color: #4C6AB6;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
background-color: #fff3e0;
outline: none;
}

.tabs .tab a:hover,tabs .tab a:active,.tabs .tab a.active {
background-color:transparent;
color: white;
}